body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('backgroundsafe.webp');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav h2 {
    margin: 0;
}

nav a {
    display: block;
    padding: 5px 0;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
}

.nav-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #ddd;
}

.nav-button.active {
    background-color: #bbb;
    color: #666;
    cursor: default;
}

main {
    padding: 20px;
    padding-bottom: 120px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

form {
    background: rgba(255, 255, 255, 0.658);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.555);
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
}

#button1 {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}